<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/default/home">
   <th:block layout:fragment="header">
      <title>New Vehicle Inspection</title>
      <link rel="stylesheet" href="/css/parsley.css" th:href="@{/css/parsley.css}" />
      <link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css" th:href="@{/css/bootstrap-datepicker3.min.css}" />
      <script src="/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
      <script src="/js/parsley.min.js" th:src="@{/js/parsley.min.js}"></script>
   </th:block>
   
   <th:block class="layout_fragment" layout:fragment="content">
      <div class="error_box"></div>
      <form id="create_vehicleinspection" name="create_vehicleinspection" method="post" action="/vehicleinspections/create" role="form" data-parsley-validate="">
         <div class="form-group">
            <label for="inspectiondocumentnumber">Inspection Document Number</label>
            <textarea rows="1" class="form-control" name="inspectiondocumentnumber" required="required" data-parsley-errors-messages-disabled=""></textarea>
            <label for="inspectionresult">Inspection Result</label>
            <select class="form-control" id="inspectionresult" name="inspectionresult" required="required" data-parsley-errors-messages-disabled="">
               <option th:each="inspectionresult : ${inspectionresults}" th:value="${inspectionresult}" th:text="${inspectionresult}"></option>
            </select>
            <label for="inspectionmileage">Inspection Mileage</label>
            <textarea rows="1" class="form-control" name="inspectionmileage" required="required" data-parsley-errors-messages-disabled=""></textarea>
            <label for="inspectiondate">Inspection Date</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-orientation="bottom">
               <input type="text" class="form-control" id="inspectiondate" name="inspectiondate" required="required" data-parsley-errors-messages-disabled=""></input>
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
               </div>
            </div>
            <label for="inspectionexpirationdate">Inspection Expiration Date</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-orientation="bottom">
               <input type="text" class="form-control" id="inspectionexpirationdate" name="inspectionexpirationdate" required="required" data-parsley-errors-messages-disabled=""></input>
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
               </div>
            </div>
            <label for="vehicle">Vehicle</label>
            <select class="form-control" id="vehicle" name="vehicle" required="required" data-parsley-errors-messages-disabled="">
               <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:text="${vehicle.make}"></option>
            </select>
         </div>
         <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </form>
   </th:block>
</html>