<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/default/home">
   <th:block layout:fragment="header">
      <title>New Vehicle Registration</title>
      <link rel="stylesheet" href="/css/parsley.css" th:href="@{/css/parsley.css}" />
      <link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css" th:href="@{/css/bootstrap-datepicker3.min.css}" />
      <script src="/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
      <script src="/js/parsley.min.js" th:src="@{/js/parsley.min.js}"></script>
   </th:block>
   
   <th:block class="layout_fragment" layout:fragment="content">
      <div class="error_box"></div>
      <form id="create_vehicleregistration" name="create_vehicleregistration" method="post" action="/vehicleregistrations/create" role="form" data-parsley-validate="">
         <div class="form-group">
            <label for="registrationdate">Registration Date</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-orientation="bottom">
               <input type="text" class="form-control" id="registrationdate" name="registrationdate" required="required" data-parsley-errors-messages-disabled=""></input>
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
               </div>
            </div>
            <label for="registrationexpirationDate">Registration Expiration Date</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-orientation="bottom">
               <input type="text" class="form-control" id="registrationexpirationDate" name="registrationexpirationDate" required="required" data-parsley-errors-messages-disabled=""></input>
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
               </div>
            </div>
            <label for="registrationmileage">Registration Mileage</label>
            <textarea rows="1" class="form-control" name="registrationmileage" required="required" data-parsley-errors-messages-disabled="" data-parsley-type="number"></textarea>
            <label for="registrationdocumentnumber">Registration Document Number</label>
            <textarea rows="1" class="form-control" name="registrationdocumentnumber" required="required" data-parsley-errors-messages-disabled="" data-parsley-type="number"></textarea>
            <label for="vehicle">Vehicle</label>
            <select class="form-control" id="vehicle" name="vehicle" required="required" data-parsley-errors-messages-disabled="">
               <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:text="${vehicle.make} + ' | ' + ${vehicle.model} + ' | ' + ${vehicle.year} + ' | ' + ${vehicle.color}"></option>
            </select>
         </div>
         <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </form>
   </th:block>
   
</html>