<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="icon" type="/image/jpg" href="/images/craftware.jpg"/>
      <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
      <script src="/js/jquery-1.12.2.min.js" th:src="@{/js/jquery-1.12.2.min.js}"></script>
      <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
      <th:block layout:fragment="header"></th:block>
   </head>
   
   <body>
      <nav class="navbar navbar-inverse navbar-static-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span> 
               <span class="icon-bar"></span> 
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/maintenancesessions">Craftware</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="/maintenancesessions">Maintenance Session</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/maintenanceactivities">Maintenance Activity</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/vehicleinspections">Vehicle Inspections</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/vehicleregistrations">Vehicle Registrations</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/vehicles">Vehicles</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/mechanics">Mechanics</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/users" sec:authorize="hasAuthority('ADMIN')">Users</a>
                  </li>
               </ul>
               <form class="navbar-form navbar-right" th:action="@{/logout}"
                  method="post">
                  <button type="submit" class="btn btn-success">Log out</button>
               </form>
            </div>
         </div>
      </nav>
      
      <div class="container">
         <th:block layout:fragment="content">
         </th:block>
      </div>
   </body>
   
</html>