<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="icon" type="/image/jpg" href="/images/craftware.jpg"/>
      <title>Login</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
      <link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}" />
      <script src="/js/jquery-1.12.2.min.js" th:src="@{/js/jquery-1.12.2.min.js}"></script>
      <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>		
   </head>
   
   <body>
      <div class="container">
         <form class="form-signin" th:action="@{/login}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label class="sr-only">Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username" th:required="true" th:autofocus="true" />
            <label class="sr-only">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" th:required="true" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
         </form>
      </div>
   </body>
</html>