<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/default/home">
   <th:block layout:fragment="header">
      <title>Maintenance Activity</title>
      <link rel="stylesheet" href="/css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}"/>
      <script src="/js/bootstrap-table.js" th:src="@{/js/bootstrap-table.js}"></script>
   </th:block>
   
   <th:block layout:fragment="content">
      <a class="btn btn-primary" href="/maintenanceactivities/new">Add new maintenance activity</a>
      <table class="table table-striped" data-toggle="table" data-sort-name="activityname" data-sort-order="asc" data-search="true" data-show-toggle="true" data-show-columns="true" data-pagination="true">
         <thead>
            <tr>
               <th data-field="activityname" data-sortable="true">Activity Name</th>
               <th data-field="delete" data-sortable="true">Delete</th>
               <th data-field="edit">Edit</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="maintenanceactivity : ${maintenanceactivities}">
               <td class="activityname" th:text="${maintenanceactivity.activityName}"></td>
               <td>
                  <a th:if="${maintenanceactivity.deleteFlag} == true" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#deleteModal'+${maintenanceactivity.id}">
                  <span class="fa-stack">
                  <i class="glyphicon glyphicon-trash"></i>
                  </span>
                  </a>
                  <div class="modal fade" th:id="deleteModal+${maintenanceactivity.id}" tabindex="-1" role="dialog">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                              <h4 class="modal-title" id="myModalLabel">Delete</h4>
                           </div>
                           <div class="modal-body">
                              <p>Are you sure you want to delete this activity?</p>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <a th:attr="name=${maintenanceactivity.activityName}" th:href="@{'/maintenanceactivities/{id}/delete'(id=${maintenanceactivity.id})}" class="delete"><button type="button" class="btn btn-primary">Delete</button></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </td>
               <td>
                  <a class="btn btn-primary" th:href="@{'/maintenanceactivities/{id}/edit'(id=${maintenanceactivity.id})}" th:attr="name=${maintenanceactivity.activityName}">
                  <span class="fa-stack">
                  <i class="glyphicon glyphicon-edit"></i>
                  </span>
                  </a>	
               </td>
            </tr>
         </tbody>
      </table>
   </th:block>
   
</html>