<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/default/home">
   <th:block layout:fragment="header">
      <title>Edit Mechanic</title>
      <link rel="stylesheet" href="/css/parsley.css" th:href="@{/css/parsley.css}" />
      <script src="/js/parsley.min.js" th:src="@{/js/parsley.min.js}"></script>
   </th:block>
   
   <th:block layout:fragment="content">
      <form id="edit_mechanic" name="edit_mechanic" method="post" action="/mechanics/update" role="form" data-parsley-validate="">
         <div class="form-group">
            <label for="firstname">First Name</label>
            <textarea rows="1" class="form-control" name="firstname" th:text="${mechanic.firstName}" required="required" data-parsley-errors-messages-disabled=""></textarea>
            <label for="lastname">Last Name</label>
            <textarea rows="1" class="form-control" name="lastname" th:text="${mechanic.lastName}" required="required" data-parsley-errors-messages-disabled=""></textarea>
            <label for="email">Email</label>
            <textarea rows="1" class="form-control" name="email" th:text="${mechanic.email}" required="required" data-parsley-errors-messages-disabled=""></textarea>
            <label for="phonenumber">Phone Number</label>
            <textarea rows="1" class="form-control" name="phonenumber" th:text="${mechanic.phoneNumber}" required="required" data-parsley-errors-messages-disabled=""></textarea>
            <input type="hidden" th:rows="1" class="form-control" name="id" th:value="${mechanic.id}"/>
         </div>
         <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </form>
   </th:block>
</html>